# OS
.DS_Store

# Logs
logs
*.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
components
bower_components

# Compile directories
www/
build/

# Fonts
public/fonts/enemy-n4.woff
public/fonts/enemy-n4.woff2
public/fonts/lavanderia-n4.woff
public/fonts/lavanderia-n4.woff2
