<div class="px2 sm-px4 lg-px2 container liga" style="height: 100%">
  <header class="mb4 clearfix">
    <h1 class="h1 h1-responsive center lnum pnum">404 – Page not found</h1>
  </header>
  <div class="md-col-10 mx-auto h2">
    <p>Sorry, there’s nothing here. <a href="/">Read the Utility OpenType documentation</a>, follow me <a href="https://twitter.com/kennethormandy">on Twitter</a>, or sign up for my newsletter:
  </div>
  <% include _includes/newsletter.ejs %>
</div>
