<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Utility OpenType</title>
    <title>Utility OpenType – Immutable, advanced typographic feature utilities with graceful fallbacks.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Immutable, advanced typographic feature utilities that fallback gracefully with CSS alone. Works great on its own, or alongside Basscss. Apply ligatures, small caps, number variants, and more, with single CSS classes.">
    <meta name="og:url" content="http://utility-opentype.kennethormandy.com">
    <meta name="og:title" content="Introducing Moriston">
    <meta name="og:description" content="Immutable, advanced typographic feature utilities that fallback gracefully in only 1.5kb of CSS. Apply ligatures, small caps, number variants, and more, with single CSS classes.">
    <meta name="twitter:creator" content="@kennethormandy">
    <!-- TODO
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:image" content="http://utility-opentype.kennethormandy.com/media/og-image.png">
    <meta name="twitter:image:src" content="http://utility-opentype.kennethormandy.com/media/og-image.png">
    -->
    <script>
      (function(d) {
        var config = {
          kitId: 'vgs2evo',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link href="http://fonts.kennethormandy.com/css/utility-opentype.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <% partial("../node_modules/typogr/typogr.jade") %>
  </head>
  <body>
    <%- typogr.typogrify(yield) %>
  </body>
</html>
