<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Utility OpenType † Simple, CSS utility classes for advanced typographic features.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Immutable, advanced typographic feature utilities that fallback gracefully with CSS alone. Works great on its own, or alongside Basscss. Apply ligatures, small caps, number variants, and more, with single CSS classes.">
    <meta name="og:url" content="http://utility-opentype.kennethormandy.com">
    <meta name="og:title" content="Utility OpenType">
    <meta name="og:description" content="Simple, CSS utility classes for advanced typographic features. Apply ligatures, small caps, number variants, and more with 1.5kb of CSS.">
    <meta name="twitter:creator" content="@kennethormandy">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:image:type" content="image/gif">
    <meta name="og:image:width" content="1024">
    <meta name="og:image:width" content="512">
    <meta name="og:image" content="http://utility-opentype.kennethormandy.com/media/og-image.gif">
    <meta name="twitter:image:src" content="http://utility-opentype.kennethormandy.com/media/og-image.gif">
    <script><% include ./js/core.js %></script>
    <link href="/css/main.css" rel="stylesheet">
    <% partial("../node_modules/typogr/typogr.jade") %>
  </head>
  <body class="border-top border-purple border-thick bg-purple">
    <div class="bg-white">
      <%- typogr.typogrify(yield) %>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-23393770-11', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
