<form id="newsletter" action="http://kennethormandy.us7.list-manage.com/subscribe/post?u=204b02dda299ca1c4b2345eb3&amp;id=6a931fa413" method="post" target="_blank" validate>
  <label for="mce-EMAIL" class="p2 md-p3 mt4 mb4 md-mr4 md-ml4 rounded bg-silver block">
  <h3 class="h2 m0 mb2 center">Improve typesetting on the web</h3>
  <p class="center">Subscribe to my very occasional newsletter for more web typography and type design projects like this one.</p>
  <span class="hidden">Email Address</span>
  <div class="clearfix mxn1 sm-flex flex-stretch h3">
    <div class="col col-12 sm-col-8 px1 flex">
      <input class="field p2 col-12" type="email" value="" placeholder="you@example.com" name="EMAIL" id="mce-EMAIL" required>
    </div>
    <div class="col col-12 sm-col-4 px1 flex">
      <input class="btn btn-primary p2 col-12" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    </div>
  </div>
  </label>
</form>
